<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=content">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/fh-3.1.4/datatables.min.js"/>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"/>
    
    <!--  https://github.com/jhyland87/DataTables-Keep-Conditions  -->
    <script src="$app-root/resources/js/datatables/dataTables.keepConditions.min.js"/>
    
    <style>
        
        i {
        cursor:pointer;
        }
        
        .card {
        border-top:none;
        } 
        
        .card-header {
        text-align:center;
        }
        
        .card-header h1 {
        display:inline-block;
        margin-bottom:0;
        padding-right:5px;
        }
        
        .card-header a ~ a {
        padding-left:5px;
        }
        
        .card-body {
        padding:0.75em;
        }
        
        
        
        #filterrow input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        }
        
        #myTable_filter {
        text-align:left;   
        }
        #myTable_info {
        text-align:center;
        padding-top: 0.45em;
        }
        .exportbuttons {
        text-align:right;
        }
        
        #datatable .page-item.active .page-link   {
        background-color:#254aa5;
        border-color:#254aa5;
        color:white;
        }
        
        #datatable .page-link {
        color:#254aa5;
        }
        
        table.dataTable.dtr-inline.collapsed&gt;tbody&gt;tr[role="row"]&gt;td:first-child::before {
        
        font-family:"Font Awesome 5 Free";
        font-weight: 900;
        content : '\f067';
        background-color:transparent;
        border:none;
        color:#666;
        box-shadow:none;
        }
        
        table.dataTable.dtr-inline.collapsed&gt;tbody&gt;tr.parent&gt;td:first-child::before {
        content:'\f068';
        }
        .btn-outline-green {
        color: #254aa5;
        background-color: transparent;
        background-image: none;
        border-color: #254aa5;
        border-radius:0;
        }
        
        #datatable .dropdown-item.active {
        background-color: #254aa5;
        }
        
    </style>
    <div id="datatable"/>
    
</div>